.form-control__wrap {
  position: relative;
  flex-grow: 1;
  display: inline-flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.form-control__wrap--inline {
  flex-grow: 0 !important;
  width: auto !important;
}

.form-control__wrap--disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.form-control {
  position: relative;
  flex-grow: 1;
  display: inline-block;
  margin: 0;
  padding: 6px 8px;
  width: 100%;
  max-width: 100%;
  height: auto;
  font: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--base);
  caret-color: currentColor;
  outline: none;
  border-radius: var(--border-radius);
  border: thin solid var(--border-color);
  background-color: var(--bg);
  background-clip: padding-box;
  transition-property: color, border-color, background-color;
  transition-duration: 0.15s;
  transition-timing-function: var(--timing-function);
  box-shadow: none;
  box-sizing: border-box;
  overflow: hidden;
}

.form-control--textarea {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  resize: vertical;
  overflow: auto;
}

.form-control--simple-select {
  padding: 6px 24px 6px 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3e%3cpath fill='%2353565b' d='m 512,215.24187 -237.4065,237.4065 h 474.813 z m 0,593.51626 -237.4065,-237.4065 h 474.813 z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 12px 12px;
}

[data-theme='dark'] .form-control--simple-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3e%3cpath fill='%23cfd3dc' d='m 512,215.24187 -237.4065,237.4065 h 474.813 z m 0,593.51626 -237.4065,-237.4065 h 474.813 z'/%3e%3c/svg%3e");
}

.form-control--simple-select::-ms-expand {
  display: none;
}

@media (min-width: 320px) {
  .form-control--simple-select {
    background-size: 13px 13px;
  }
}

@media (min-width: 960px) {
  .form-control--simple-select {
    background-size: 14px 14px;
  }
}

.form-control--multiple {
  min-width: 22ch;
  white-space: normal;
}

.form-control--nested-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
  background-color: var(--bg);
  z-index: 1;
}

.form-control--nested-search::-webkit-textfield-decoration-container {
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.form-control--nested-search::-webkit-search-cancel-button {
  align-self: center;
}

.form-control[type='number']::-webkit-inner-spin-button {
  display: none;
}

.form-control[type='time'],
.form-control[type='date'],
select.form-control {
  appearance: none;
}

.form-control[type='time']::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

.form-control[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

.form-control::-webkit-input-placeholder {
  color: var(--muted);
}

.form-control:focus-visible {
  outline-offset: 0;
}

.form-control:focus,
.form-control:active {
  outline: none;
}

.form-control:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form-control__label {
  position: relative;
  left: 8px;
  align-self: flex-start;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.00938em;
  color: var(--secondary);
  box-sizing: border-box;
  z-index: 1;
}

.form-control__group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.form-control__group > .form-control {
  flex: 1 1 auto;
  width: 1%;
}

.form-control__group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control__group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control__group-prepend,
.form-control__group-append {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 6px;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  color: var(--secondary);
  border: thin solid var(--border-color);
  background-color: var(--bg);
  transition-property: color, border-color, background-color;
  transition-duration: 0.15s;
  transition-timing-function: var(--timing-function);
  box-sizing: border-box;
}

.form-control__group-prepend {
  margin-right: -1px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.form-control__group-append {
  margin-left: -1px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.form-control__group-prepend + .form-control {
  padding-left: 0;
}

.form-control:not([readonly]):focus,
.form-control--focused,
.form-control__group-prepend--focused,
.form-control--focused + .form-control__group-append,
.form-control:not([readonly]):focus + .form-control__group-append {
  border-color: var(--primary);
}

.form-control[readonly] {
  opacity: 1;
}

.form-control:disabled,
.form-control--disabled,
.form-control__group-prepend--disabled,
.form-control:disabled + .form-control__group-append,
.form-control--disabled + .form-control__group-append {
  opacity: 1;
  color: var(--muted);
  border-color: var(--border-color);
  background-color: var(--border-color);
}

.form-control__chips-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
}

.form-control__chips-clear {
  cursor: pointer;
  margin: 0 0 0 8px;
  padding: 0;
  font-size: 1.25em;
  line-height: 0.5;
  color: var(--muted);
  vertical-align: middle;
  transition-property: color;
  transition-duration: 0.13s;
  transition-timing-function: var(--timing-function);
  box-sizing: border-box;
}

.form-control__chips-clear:hover {
  color: var(--secondary);
}

.form-control__chips {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.form-control__chip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 3px 4px;
  line-height: 1;
  border-radius: var(--border-radius);
  border: thin solid var(--muted);
  background-color: var(--border-color);
  box-sizing: border-box;
}

.form-control--invalid {
  padding-right: calc(18px + 8px + 6px);
  border-color: var(--error);
  background-image: url(~@/assets/img/error.svg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 18px 18px;
}

.form-control--textarea.form-control--invalid {
  background-position: top 6px right 8px;
}

.form-control__group-prepend--invalid,
.form-control--invalid + .form-control__group-append,
.form-control--invalid:not([readonly]):focus,
.form-control--focused.form-control--invalid,
.form-control--focused.form-control--invalid + .form-control__group-append,
.form-control--invalid:not([readonly]):focus + .form-control__group-append {
  border-color: var(--error);
}

.form-control__group > .form-control:not(:last-child),
.form-control__group-prepend,
.form-control__group > .form-control:not(:last-child):not([readonly]):focus,
.form-control__group > .form-control--focused:not(:last-child),
.form-control__group > .form-control--invalid:not(:last-child):not([readonly]):focus,
.form-control__group > .form-control--focused.form-control--invalid:not(:last-child),
.form-control__group-prepend--focused,
.form-control__group-prepend--invalid {
  border-right-color: transparent;
}

.form-control__group > .form-control:not(:first-child),
.form-control__group-append,
.form-control__group > .form-control:not(:first-child):not([readonly]):focus,
.form-control__group > .form-control--focused:not(:first-child),
.form-control__group > .form-control--invalid:not(:first-child):not([readonly]):focus,
.form-control__group > .form-control--focused.form-control--invalid:not(:first-child),
.form-control:not([readonly]):focus + .form-control__group-append,
.form-control--focused + .form-control__group-append,
.form-control--invalid + .form-control__group-append,
.form-control--invalid:not([readonly]):focus + .form-control__group-append,
.form-control--focused.form-control--invalid + .form-control__group-append {
  border-left-color: transparent;
}

.form-control__hint,
.form-control__error {
  display: block;
  margin: 0.25rem 0 0;
  padding: 0;
  width: 100%;
  font-size: 0.68rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.03em;
  white-space: break-spaces;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .form-control__hint,
  .form-control__error {
    font-size: 0.7rem;
  }
}

@media (min-width: 960px) {
  .form-control__hint,
  .form-control__error {
    font-size: 0.73rem;
  }
}

.form-control__hint {
  color: var(--secondary);
}

.form-control__error {
  color: var(--error);
}

.form-list {
  --form-list-offset: 0;

  position: absolute;
  top: 100%;
  right: 0;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 4px;
  max-width: 100vw;
  height: auto;
  max-height: 300px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--bg);
  box-shadow: var(--box-shadow);
  transform: translate3d(var(--form-list-offset), 0, 0);
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: var(--timing-function);
  box-sizing: border-box;
  user-select: none;
  overflow-y: auto;
  z-index: 10;
}

.form-list--fill-width {
  min-width: 100%;
}

.form-list--left {
  right: auto;
  left: 0;
}

.form-list--top {
  top: auto;
  bottom: 100%;
}

.form-list--hidden {
  opacity: 0;
  visibility: hidden;
}
